body {
  font-family: sans-serif;
  padding: 1em;
  max-width: 600px;
  margin: auto;
  background: linear-gradient(to right, #ffaf02, #7fe700);
}

input {
  margin: 0.3em;
}

button {
  margin: 0.3em;
}
